@using Evolution.Web.Models

<div>
    @* Controls *@
    <div>
        <div>
            <input @bind-value="@newAnimalName"
                   placeholder="Enter new animal name"
                   class="@Css.Input" />
            <Button @onclick="@(e => CreateNewAnimal())"
                    class="@Css.Button">
                new Animal
            </Button>
            <Button @onclick="@(e => CreateNewPlant())"
                    class="@Css.Button">
                new Plant
            </Button>
        </div>

        <div>
            <div>
                Count: @WorldStore.GetAnimalsCount();
            </div>
            <div>
                Avg Speed: @WorldStore.GetAnimalsAvgSpeed();
            </div>
            <div>
                Avg Sense: @WorldStore.GetAnimalsAvgSense();
            </div>
            <div>
                Food: @WorldStore.GetAvailableFood();
            </div>
        </div>
    </div>

    @if (WorldStore.IsLoading)
    {
        <div> Loading... </div>
    }
    else
    {

        <div class="bg-blue-100" style="width: 1200px; height: 700px;position: relative">
            @foreach (var a in Animals)
            {
                <div id="animal-@a.Id" style="left: @(a.Location.Column*32)px; top: @(a.Location.Row*32)px; position: absolute; width: 32px; height: 32px; transition:all @(1/a.Speed)s linear;">
                    <AnimalComponent Animal="a"></AnimalComponent>
                </div>
            }

            @foreach (var p in Plants)
            {
                <div id="plant-@p.Id" style="left: @(p.Location.Column*32)px;top: @(p.Location.Row*32)px;position: absolute;width: 32px;height: 32px;">
                    <PlantComponent Plant="p"></PlantComponent>
                </div>
            }
            

        </div>

    }
</div>