<div>
    <div class="@(Animal.IsAlive ? "" : "text-red-300")">
        @Animal.Name

        @if (Animal.IsAlive)
        {
            <span> | E: @Animal.Energy</span>
        }
    </div>
    @if (Animal.IsAlive)
    {
        <Button @onclick="@(e => Act(@Animal.Id))" class="hover:bg-blue-500 rounded">
            ▶️
        </Button>
        <Button @onclick="@(e => Kill(@Animal.Id))" class="hover:bg-blue-500 rounded">
            💀
        </Button>
    }

</div>